.messages{
    background-color: transparent;
    padding: 10px;
    height: calc(100% - 7rem);
    overflow: auto;
    color:white
}

.nomessages{
    height: 100%;
    background-color: #f0f2f5;
    color:rgb(43, 43, 43);
    font-weight: bold;

}
