.input{
    height: 50px;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.typemssg{
    width: 100%;
    border: none;
    outline: none;
    color: #2f2d52;
    font-size: 18px;
    &::placeholder{
        color: lightgray;
    }

}
.sent{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.sentImg{
    height: 24px;
    cursor: pointer;
    object-fit: cover;
}
.sendbtn{
    border: none;
    padding: 10px 15px;
    color:white;
    background-color: #8da4f1;
}