.input {
    height: 50px;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    background-color:#f0f2f5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    gap: 1rem;
}

.typemssg {
    width: 100%;
    border: none;
    outline: none;
    color: #333333;
    font-size: 18px;
}



.sent {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    z-index: 0;
}

.imageAdd{
    cursor: pointer;
}
.imageAdd:hover{
    scale: 1.05;
}

.sentImg {
    height: 30px;
    cursor: pointer;
    object-fit: cover;
}

.sentImg:hover {
    scale: 1.1;
}

.sendbtn {
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

.sendbtn:hover {
    scale: 1.1;
}

.sendpic {
    position: absolute;
    z-index: 2;
    height: 100px;
    top: -100px;
    left: 0px
}

.nopic {
    display: none;
}