.sidebar{
    flex:1;
    background-color:white ;
    
}
.slidebar{
    position: absolute;
    z-index: 2;
    top:0;
    overflow: hidden;
    left:0;
    background-color:rgb(226, 226, 226)  ;
    width:100%;
    height: 100%;
    transition: all 0.3s linear;
}
.minimize{
    position: absolute;
    z-index: 2;
    top:0;
    overflow: hidden;
    left:0;
    background-color:rgb(226, 226, 226) ;
    width:0;
    height: 100%;
    transition: all 0.3s linear;
}

