.message{
    display: flex;
    gap:10px;
    margin-bottom: 20px;

}
.messageInfo{
    display: flex;
    flex-direction: column;
    color:white;
    font-weight: 300;
    font-size: small;
}
.owner{
    flex-direction: row-reverse;
}
.owner .mssgpara{
    background-color: #8da4f1;
    color: white;
    border-radius: 10px 0 10px 10px;
}
.owner .messageContent{
    align-items: flex-end;
}
.senderImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.messageContent{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
}
.mssgpara{
    background-color: white;
    color:black;
    padding: 10px 20px;
    border-radius: 0 10px 10px 10px;
}
.sendImg{
    width: 50%;
}